<div id="project" class="transitions-enabled">
<% @projects.each do |project| %>
    <div class="box panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <%= project.title %>
            </div>
        </div>
        <%= link_to image_tag(project.image.url(:medium)), project %>
        <div class="panel-body">
            <p><%= project.Sdescription %></p>
            <a href="<%= project.btnUrl %>" class="btn btn-primary center-block" target="_blank"><%= project.btnName %></a>
            
            <!--Only show these if signed in-->
            <%= link_to 'Show', project %>
            <%= link_to 'Edit', edit_project_path(project) %>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    </div>
    <% end %>
</div>

<br>

<%= link_to 'New Project', new_project_path %>
